
<legend><h4>Group Chat</h4></legend>
    <div  id ="messageform">
      <div class="chat-box">
        <div id="messages_list">
          <%= render partial: 'message' %>
        </div>
        <%= render :partial => 'groupmessages/form' %>
      </div>
    </div>
  </div>
</div>
